header {
    display: flex;
    margin: 0;
    margin-left: 0px;
     height: 35vh; 
    background: linear-gradient(to bottom, rgb(255, 123, 0), yellow);
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background: linear-gradient(to bottom, rgb(168, 168, 168), rgb(75, 75, 75));
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-container {
    background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(0, 0, 0));
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    /* Margins */
    padding: 10px 60px 30px 60px;

    border-radius: 10px;
    border-color: yellow;
    border-width: 2px;

    text-align: center;
    font-size: larger;

    position: fixed;
    top: 30%;
    left: 32.5%;
}

.need-list {
    background: linear-gradient(to bottom, rgb(255, 123, 0), yellow);
    font-family: Arial, Helvetica, sans-serif;
    /* Margins */
    padding: 10px 60px 30px 60px;

    border-radius: 10px;

    text-align: center;
    font-size: larger;

    position: fixed;
    top: 40%;
    left: 40%;
}

button {
    background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(0, 0, 0));
    color: yellow;
    
    padding: 10px 30px 10px 30px;
    margin-left: 10px;
    margin-bottom: 10px;

    border-radius: 10px;
    border-color: yellow;
    border-width: 2px;
    font-size: larger;
}

div {
    text-align: center;
}