header {
    display: flex;
    margin: 0;
    margin-left: 0px;
    /* height: 35vh; */
    background: linear-gradient(to bottom, rgb(255, 153, 0), rgb(255, 94, 0));
}
h1 {
    margin-left: 10px;
}
body {
    background: linear-gradient(to bottom, rgb(168, 168, 168), rgb(75, 75, 75));
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
info {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    text-align: center;
}

login {
    background: linear-gradient(to bottom, rgb(255, 153, 0), rgb(255, 94, 0));
    /* Margins */
    padding: 10px 60px 30px 60px;

    border-radius: 10px;

    text-align: center;
    font-size: larger;

    position: fixed; /* or absolute */
    top: 30%;
    left: 40%;
}

button {
    background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(0, 0, 0));
    color: rgb(255, 94, 0);
    /* Margins */
    padding: 10px 30px 10px 30px;

    border-radius: 10px;
    font-size: larger;
}

div {
    text-align: center;

    position: fixed; /* or absolute */
    top: 30%;
    left: 35%;
}