button {
    background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(0, 0, 0));
    color: yellow;
    
    padding: 10px 30px 10px 30px;
    margin-left: 10px;
    margin-bottom: 10px;

    border-radius: 10px;
    border-color: yellow;
    border-width: 2px;
    font-size: larger;
}

.add-need {
    background: linear-gradient(to bottom, rgb(255, 123, 0), yellow);
    font-family: Arial, Helvetica, sans-serif;

    padding: 10px 60px 30px 60px;

    border-radius: 10px;

    text-align: center;
    font-size: larger;

    position: fixed;
    left: 10%;
}