header {
    display: flex;
    margin: 0;
    margin-left: 0px;
     height: 35vh; 
    background: linear-gradient(to bottom, rgb(255, 153, 0), rgb(255, 94, 0));
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.transaction {
    background: linear-gradient(to bottom, rgb(255, 123, 0), yellow);
    font-family: Arial, Helvetica, sans-serif;
    /* Margins */
    padding: 10px 60px 30px 60px;

    /* border-radius: 10px; */

    text-align: center;
    font-size: larger;

    /* position: fixed; */
    top: 20%;
    left: 35%;
}

button {
    background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(0, 0, 0));
    color: yellow;
    
    padding: 10px 30px 10px 30px;
    margin-left: 10px;
    margin-bottom: 10px;

    border-radius: 10px;
    border-color: yellow;
    border-width: 2px;
    font-size: larger;
}

div {
    text-align: center;
}