header {
    display: flex;
    align-items: center;
    height: 35vh;
    background: linear-gradient(to bottom, rgb(255, 153, 0), rgb(255, 94, 0));
    padding-left: 20px;
}

h1 {
    background: linear-gradient(to bottom, rgb(255, 153, 0), rgb(255, 94, 0));
    margin: 0;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

body {
    background: linear-gradient(to bottom, rgb(168, 168, 168), rgb(75, 75, 75));
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    background: linear-gradient(to bottom, rgb(255, 123, 0), yellow);
    padding: 30px 50px;
    border-radius: 12px;
    text-align: center;
    font-size: larger;
    width: 90%;
    max-width: 400px;
    margin: 60px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #333;
    font-size: 1rem;
}

.error-message {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

button {
    background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(0, 0, 0));
    color: yellow;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: larger;
    border: 2px solid yellow;
    cursor: pointer;
}

div {
    text-align: center;
}